# Dictionaries Methods in Python

### Introduction

Previously, we saw that dictionaries are a set of key value pairs.  We know that we can initialize a dictonary with the following:

In [2]:
chipotle = {'name': 'chipotle', 'hq': 'newport beach', 'num_of_locations': 2500}
chipotle['name']

'chipotle'

And that we can retrieve a specific value from the dictionary with the following:

In [3]:
chipotle['name']

'chipotle'

In this lesson, we'll learn how to access multiple components from a dictionary - like the keys, values, and items.

### Changing our dictionaries

Now that we know the different mechanisms to retrieve a value from a dictionary, let's make sure that we know how to update a dictionary.

For example, let's add in that key of `num_of_employees` to chipotle.

In [4]:
chipotle

{'name': 'chipotle', 'hq': 'newport beach', 'num_of_locations': 2500}

In [9]:
chipotle['num_of_employees'] = 64570
chipotle['cuisines'] = 'mexican'

In [10]:
chipotle

{'name': 'chipotle',
 'hq': 'newport beach',
 'num_of_locations': 2500,
 'num_of_employees': 64570,
 'cusines': 'mexican',
 'cuisines': 'mexican'}

So we added a new key value pair with the following pattern:

```python
dictionary['key'] = 'value'
```

Let's see this again by now updating the name to be capitalized.

In [11]:
chipotle['name'] = 'Chipotle'

In [12]:
chipotle

{'name': 'Chipotle',
 'hq': 'newport beach',
 'num_of_locations': 2500,
 'num_of_employees': 64570,
 'cusines': 'mexican',
 'cuisines': 'mexican'}

Ok, so we can see that by sticking to that pattern of `dictionary['key'] = 'value'` we not only can update our dictionary with a new key value pair, but can also change an existing value.

In [15]:
chipotle['cuisines'] = 'Mexican'

### Exploring Dictionary Methods

Now our lesson wouldn't be complete without a little more exploration into what methods are available to us on a dictionary.  Let's see what methods are available by pressing a dot after the dictionary and then pressing tab.

In [16]:
chipotle.

SyntaxError: ignored

Ok, so of the methods that we saw listed, there are two that are mainly important to us. The `keys` and `values` methods.  Lets start with the keys method.

In [18]:
chipotle.keys()
chipotle.values()

dict_values(['Chipotle', 'newport beach', 2500, 64570, 'mexican', 'Mexican'])

Ok, so oftentimes we'll use the keys method to get an overview of a large dictionary.  It's a way to see what data is available to us.  Above, we see that we have the four pieces of information about the restaurant.

We can also access a dictionary's values method.

In [ ]:
chipotle.values()

dict_values(['Chipotle', 'newport beach', 2500, 64570])

> Notice that when we call `keys()` or `values()`, we are returned the `dict_keys` or `dict_values` datatype, which we can just understand as being pretty similar to a list.  

We can coerce our `dict_keys` or `dict_values` into a list by wrapping the result in the `list` method:

In [20]:
list(chipotle.values())
keys = list(chipotle.keys())
keys

['name', 'hq', 'num_of_locations', 'num_of_employees', 'cusines', 'cuisines']

Finally, if we wish to access both the key value pairs as a list, we can do so with a call to items.

In [21]:
chipotle.items()

dict_items([('name', 'Chipotle'), ('hq', 'newport beach'), ('num_of_locations', 2500), ('num_of_employees', 64570), ('cusines', 'mexican'), ('cuisines', 'Mexican')])

Remember that if we try slice just a subset of our items, we can't do so as we are not currently working with a list.

In [23]:
list(chipotle.items())[:3]

[('name', 'Chipotle'), ('hq', 'newport beach'), ('num_of_locations', 2500)]

> Pay attention to the `is not subscriptable` error message.  Oftentimes, we'll see this message when we *think* that we are working with a list, but really we are working with something else.  Like in the above case, our `dict_items`.

Ok, so before we slice pairs of elements from the above, we need to first coerce our data into a list.

In [28]:
chipotle_items = list(chipotle.items())
dict(chipotle_items)

{'name': 'Chipotle',
 'hq': 'newport beach',
 'num_of_locations': 2500,
 'num_of_employees': 64570,
 'cusines': 'mexican',
 'cuisines': 'Mexican'}

In [25]:
type(chipotle_items)

list

Now we can slice.

In [26]:
chipotle_items[:3]

[('name', 'Chipotle'), ('hq', 'newport beach'), ('num_of_locations', 2500)]

Finally, we can coerce any list of tuples into a dictionary with a call of dict.  Let's create a dictionary of just the first three key value pairs.

In [27]:
dict(list(chipotle.items())[:3])

{'name': 'Chipotle', 'hq': 'newport beach', 'num_of_locations': 2500}

### Summary

In this lesson, we learned some more advanced methods with dictionaries.  We saw that an we can add new data to our dictionaries with the pattern:

```python
dictionary['key'] = 'value'
```

And we saw that we can access certain components of a dictionary with a call to the `keys()`, `values()` or `items()` methods.  One thing to pay atttention to is, the type of data we are working with.  Oftentimes, because we want access to the list methods, we'll need to coerce the return value into a list, by wrapping this in the `list()` method.

In [ ]:
chipotle_items = list(chipotle.items())

chipotle_items

[('name', 'Chipotle'),
 ('hq', 'newport beach'),
 ('num_of_locations', 2500),
 ('num_of_employees', 64570)]

Then if we wish to coerce this list of nested tuples back into a dictionary, we can do so by wrapping this in `dict`.

In [ ]:
dict(chipotle_items)

{'name': 'Chipotle',
 'hq': 'newport beach',
 'num_of_locations': 2500,
 'num_of_employees': 64570}