# List Comprehension Lab

### Introduction

In this lesson, we'll practice working with list comprehension while working with data regarding restaurant chains.  Let's get started.

### Loading the Data

We can get our data about restaurant chains at the following web address.

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_the_largest_fast_food_restaurant_chains"

> Press shift + return on the cell above.

Then, let's scrape our data from the url using pandas.

In [3]:
import pandas as pd
tables = pd.read_html(url, index_col = 0)

We select the last table on the page.

In [4]:
restaurant_chains_df =  tables[-1]

Then convert our dataframe to a list of dictionaries.

In [5]:
restaurant_chains = restaurant_chains_df.to_dict('records')

In [6]:
restaurant_chains[:3]

[{'Country of origin': 'United States',
  'Name': "McDonald's",
  'Number of locations': '40,275 (2022)[1]',
  'Revenue': 'US$23.2 billion (2021)[1]'},
 {'Country of origin': 'United States',
  'Name': 'Subway',
  'Number of locations': '37,000 (2021)[2][3]',
  'Revenue': 'US$16.1 billion (2020)[4]'},
 {'Country of origin': 'United States',
  'Name': 'Starbucks',
  'Number of locations': '36,170 (2023)[5]',
  'Revenue': 'US$32.3 billion (2022)[6]'}]

Ok, so we now have a list dictionaries where each dictionary represents a separate restaurant chain.

### Coercing our Data

> For this first section, do not use list comprehension.

Now that we have our list of dictionaries above.  Let's start by focusing on our revenue data.  Begin by simply extracting the text related to the revenue for each chain, and storing this data in a list.

In [7]:
revenue_texts = [restaurant['Revenue'] for restaurant in restaurant_chains]

In [8]:
revenue_texts[:10]

# ['US$21.07 billion (2020)[2]',
 # 'US$16.1 billion (2020)[2]',
 # 'US$26.7 billion (2020)[5]',
 # 'US$27.9 billion (2020)[7]',
 # nan,
 # nan,
 # 'US$3.62 billion (2019)[11]',
 # 'US$1.37 billion (2020)[13]',
 # nan,
 # nan]

['US$23.2 billion (2021)[1]',
 'US$16.1 billion (2020)[4]',
 'US$32.3 billion (2022)[6]',
 'US$31.3 billion (2021)[7]',
 'US$23.4 billion (2021)[9]',
 'US$17.7 billion (2021)',
 'US$12.9 billion (2021)[11]',
 'US$1.37 billion (2020)[15]',
 'US$1.38 billion (2021)[16]',
 nan]

Take a look at the `nan`s below.  This stands for not a number, and it is not very helpful to us.  A lotof the values after the first four are nan values.  So instead let's just select the first four restaurant chains, and then get to work with turning the data above into numbers.

In [18]:
first_restaurants = restaurant_chains[:4]
revenue_texts = [restaurant['Revenue'] for restaurant in first_restaurants]

In [19]:
len(first_restaurants)

# 4

4

In the cell below extract the revenue data from `first_restaurants` and store the `revenues` in billions of revenue.

In [28]:
revenues = [float(revenue.split(' ')[0].replace('US$', '')) for revenue in revenue_texts]

In [29]:
revenues

# [21.07, 16.1, 26.7, 27.9]

[23.2, 16.1, 32.3, 31.3]

### Moving to List Comprehension

Let's begin by using list comprehension to create a list of the names of each restaurant chain.

> Assign the result to the variable `restaurant_names`.

In [42]:
restaurant_names = [restaurant['Name'] for restaurant in restaurant_chains]

In [43]:
restaurant_names[:4]

# ["McDonald's", 'Subway', 'Starbucks', 'KFC']

["McDonald's", 'Subway', 'Starbucks', 'KFC']

Now use list comprehension to select the number of locations of each restaurant chain.

> Assign the result to the variable `franchise_amounts`.

In [44]:
franchise_amounts = [restaurant['Number of locations'] for restaurant in restaurant_chains]

In [45]:
franchise_amounts[:3]

# ['38,348 [1]', '36,840 [3]', '33,833[4]']

['40,275 (2022)[1]', '37,000 (2021)[2][3]', '36,170 (2023)[5]']

Now remove the square brackets from the number of locations.

In [51]:
clean_franchise_amounts = [franchise.split(' ')[0].split('[')[0] for franchise in franchise_amounts]

In [52]:
clean_franchise_amounts[:20]

# ['38,348 ', '36,840 ', '33,833']

['40,275',
 '37,000',
 '36,170',
 '26,934',
 '19,247',
 '18,848',
 '18,381',
 '11,300',
 '10,427',
 '8,000+',
 '7,791',
 '7,000+',
 '7,000+',
 '6,949',
 '6700',
 '5,812',
 '5,650',
 '5,463',
 '5,291',
 '4,000']

In [53]:
clean_franchise_amounts[-10:]

# ['508', '507+', '500+']

['544', '525', '520', '515+', '514', '512+', '510+', '508', '507+', '500+']

Now, coerce the data from a list of strings to a list of integers.
> **Hint**: Look up the `replace` method.

In [58]:
franchise_amount_ints = [float(amount.replace(',', '').replace('+', '').replace('~', '')) for amount in clean_franchise_amounts]

In [59]:
franchise_amount_ints[:3]

# [38348, 36840, 33833]

[40275.0, 37000.0, 36170.0]

### Bonus: Combining our Data

Ok, so now, for the first eight restaurant chains let's find the amount of revenue earned per franchise.  Remember, that we already have the revenues.

In [66]:
revenues
revenues = [franchise * 1000000000 for franchise in revenues]

And we have the number of franchises.

In [61]:
franchise_amount_ints[:4]

[40275.0, 37000.0, 36170.0, 26934.0]

Create a list of where each element is the revenue per franchise, for the first eight chains.

In [68]:
one_billion = 1_000_000_000
combined_list = list(zip(revenues, franchise_amount_ints))
keys = ['revenue', 'franchises']
combined_list = [dict(zip(keys, franchise)) for franchise in combined_list]
combined_list[:3]

[{'revenue': 23200000000.0, 'franchises': 40275.0},
 {'revenue': 16100000000.000002, 'franchises': 37000.0},
 {'revenue': 32299999999.999996, 'franchises': 36170.0}]

In [71]:
revenues_per_franchise = [float(franchise['revenue']/franchise['franchises']) for franchise in combined_list]
print(revenues_per_franchise[:4])

[576039.7268777157, 435135.1351351352, 893005.2529720762, 1162099.9480210885]

In [ ]:
revenues_per_franchise
# [549441, 437024, 789170, 1116000]

In [ ]:
# restaurant_names[:4]

# ["McDonald's",
#  'Subway',
#  'Starbucks',
#  'KFC',
#  'Burger King',
#  "Domino's Pizza",
#  'Pizza Hut',
#  "Dunkin'"]

### Summary

In this lesson we practiced working with looping through our data and list comprehension.  We should use simple looping when performing more complex steps in our loop, and lean on list comprehension when there is not a coercion involved as we loop through each elements.