# Objects Warmup

### Selecting From an API

Let's start with our movies imdb dataset.

In [7]:
import pandas as pd
url = "https://raw.githubusercontent.com/python-fundamentals-jigsaw/mod-1-a-data-structures/master/3-coercing-filtering-data/imdb_movies.csv"
movies_df = pd.read_csv(url)
movies = movies_df.to_dict('records')
movies[:3]

[{'title': 'Avatar',
  'genre': 'Action',
  'budget': 237000000,
  'runtime': 162.0,
  'year': 2009,
  'month': 12,
  'revenue': 2787965087},
 {'title': "Pirates of the Caribbean: At World's End",
  'genre': 'Adventure',
  'budget': 300000000,
  'runtime': 169.0,
  'year': 2007,
  'month': 5,
  'revenue': 961000000},
 {'title': 'Spectre',
  'genre': 'Action',
  'budget': 245000000,
  'runtime': 148.0,
  'year': 2015,
  'month': 10,
  'revenue': 880674609}]

1. Begin by looping through the movies and adding a list of `movie_titles`, where each element is a different movie title.

In [8]:
titles = [movie['title'] for movie in movies]
# titles[:3]
# ['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre']

2. Now let's select a single movie

In [3]:
first_movie = movies[0]

In [4]:
first_movie

{'title': 'Avatar',
 'genre': 'Action',
 'budget': 237000000,
 'runtime': 162.0,
 'year': 2009,
 'month': 12,
 'revenue': 2787965087}

Now call `items` to coerce this dictionary into a list of key value tuples.

In [9]:
first_movie_items = [(k, v) for k, v in first_movie.items()]
first_movie_items
# dict_items([('title', 'Avatar'), ('genre', 'Action'),
# ('budget', 237000000), ('runtime', 162.0), ('year', 2009),
# ('month', 12), ('revenue', 2787965087)])

[('title', 'Avatar'),
 ('genre', 'Action'),
 ('budget', 237000000),
 ('runtime', 162.0),
 ('year', 2009),
 ('month', 12),
 ('revenue', 2787965087)]

In [10]:
selected_attrs = ['title', 'budget', 'revenue']

Use dictionary comprehension to select only those attributes listed in `selected_attrs`.

3. Then narrow down the list of attributes to just the `selected_attrs` for all movies.

In [16]:
def get_movie_attr(movie, keys):
  return {k: v for k, v in movie.items() if k in keys}

In [18]:
movies_list = [get_movie_attr(movie, selected_attrs) for movie in movies]
movies_list[:3]

[{'title': 'Avatar', 'budget': 237000000, 'revenue': 2787965087},
 {'title': "Pirates of the Caribbean: At World's End",
  'budget': 300000000,
  'revenue': 961000000},
 {'title': 'Spectre', 'budget': 245000000, 'revenue': 880674609}]

4. Next, create class called `Movie` that upon initialization takes the arguments of `title`, `budget` and revenue.

In [20]:
class Movie:
  def __init__(self, title, budget, revenue):
    self.title = title
    self.budget = budget
    self.revenue = revenue

5. Finally, use `kwargs` to create a list of movies.

In [22]:
movie_class_list = [Movie(**movie) for movie in movies_list]

In [25]:
movie_class_list[0].__dict__

{'title': 'Avatar', 'budget': 237000000, 'revenue': 2787965087}