# Python SQL Lab

### Introduction
In this lab we will practice using the *Python library* called `sqlite3` to execute our SQL calls. This library makes it easy for us to connect to and analyze data in a SQL database within a Python environment. We'll start out by setting up the database in the terminal as we have previously, then we will use the `sqlite3` library set up a connection with the library, create a cursor to call different sql commands, and then execute some sql statements using the cursor.

### Setup

We can do so by pressing shift + return on the following cells.  
> Let's not try to understand the setup below right now.

In [1]:
import pandas as pd
employees_url = "https://raw.githubusercontent.com/eng-6-22/mod-1-sql-curriculum/master/1-sql-fundamentals/6-python-sql-lab/employees.csv"
employees_df = pd.read_csv(employees_url)
ingredients_url = "https://raw.githubusercontent.com/eng-6-22/mod-1-sql-curriculum/master/1-sql-fundamentals/6-python-sql-lab/ingredients.csv"
ingredients_df = pd.read_csv(ingredients_url)

In [15]:
import sqlite3
conn = sqlite3.connect('./saladshop.db')

In [3]:
employees_df.to_sql('employees', conn, index = False)

5

In [4]:
ingredients_df.to_sql('ingredients', conn, index = False)

5

### Getting our library ready

Ok, now that we have created the tables and loaded the data, it's time to practice using our `sqlite` library.

* First import the necessary `pip` library

In [6]:
import sqlite3

* Then use the sqlite3 library to connect to the created database

In [17]:
conn = sqlite3.connect('./saladshop.db')

Finally, create a cursor so that we are ready to call different sql commands on our database.

In [18]:
cursor = conn.cursor()

### Executing sql

Use the sqlite3 python library to select all of the employees in the database.

In [10]:
statement = 'SELECT * FROM employees;'

Run the command in the cell below. It should return the employees table.

> Hint: This requires two commands, one using `cursor.execute()` followed by `cursor.fetchall()`

In [19]:
cursor.execute(statement)
cursor.fetchall()

[(1, 'Tom', 'manager', '2019-05-20', 10001, '212-438-3984'),
 (2, 'Alison', 'salad maker', '2020-01-04', 10023, '212-329-2489'),
 (3, 'Jerry', 'delivery driver', '2019-12-15', 10001, '212-219-1029'),
 (4, 'Brian', 'salad maker', '2019-12-04', 10002, '646-328-2309'),
 (5, 'Vanessa', 'clerk', '2019-11-14', 11201, '718-348-2348')]

Use the `sqlite3` python library to select all of the ingredients in the database.

In [20]:
statement = 'SELECT * FROM ingredients'

Run the command in the cell below. It should return the data in the ingredients table.

In [21]:
cursor.execute(statement)
cursor.fetchall()

[(1, 'baby spinach', 0.19, 7, '2020-02-05'),
 (2, 'kale', 0.5, 10, '2020-02-10'),
 (3, 'tomatoes', 1.25, 5, '2020-01-30'),
 (4, 'broccoli', 1.15, 45, '2020-02-10'),
 (5, 'chicken', 3.5, 60, '2020-02-07')]

### Conclusion

In this lab we focused on how we can use the python library `sqlite3` to connect with a sql database and execute sql commands. First, we created a connection with the salad shop database. We then used this connection to create a cursor object which can be used to execute sql statements. We finished off the lab by using our cursor to select all the data from the two tables in our database.