# Comparison Operators

### Introduction

We sometimes want our code to perform different operations depending on the circumstance.

For example, below we write a function to determine if someone can drive.  If the person is over 16, then we return True to indicate that the person can drive.

In [1]:
def can_drive(age):
    if age > 16:
        return True
    else:
        return False

The function above relies on [comparison operators](https://www.tutorialspoint.com/python/python_basic_operators.htm).  Let's break down how the function works below.

### Comparison Operators

The key component of the function is `age > 16`.  This `>` example of a comparison operator.  A comparison operator always returns either `True` or `False`.  Let's see a couple comparison operators.

> Try to guess the return values before executing each cell.

In [2]:
1 > 2

False

In [3]:
1 < 2

True

In [4]:
1 == 2

False

In [5]:
1 == 1

True

In [6]:
'Hello' == "hello"

False

In [7]:
'hello' == "hello"

True

In [8]:
'1' == 1

False

In [9]:
'1' != 1

True

In [10]:
1 < 3 < 5

True

> We can chain comparison operators in Python

In [11]:
1 == 1 < 3

True

### Truth in Numbers

In [12]:
1 == True

True

In [13]:
0 == False

True

> The last one's should be a bit of a surprise.  It means that instead of a list of True or False values, an equivalent list is one of 1s or 0s.

In [ ]:
[True, False] == [1, 0]

True

### Practice with If Else

So when we use an `if else` statement our code moves through the first branch if we pass `if` a True value and moves through the second branch if we pass through a False value.

In [14]:
def what():
    if True:
        return 1
    else:
        return 0

In [15]:
what()

1

> Your turn.

Ok, now that we know more about boolean operators.  Let's practice a bit writing some `if else` statements.

> Write a method that checks if two first names are precisely the same.  It returns `True` if they are the same and `False` otherwise.

In [16]:
def same_name(name_one, name_two):
    if name_one == name_two:
        return True
    else:
        return False

In [17]:
same_name('sally', 'sally')
# True

True

In [18]:
same_name('sally', 'Sally')
# False

False

> Now write a new function that returns True even if the capitalization of the names is different.

In [19]:
def same_name_case_insensitive(name_one, name_two):
    if name_one.capitalize() == name_two.capitalize():
        return True
    else:
        return False

In [20]:
same_name_case_insensitive('Sally', 'sally')
# True

True

### Refactoring if else

With if else functions, we can sometimes be repetitive.

> For example, here is the function that we started with.  And here is a way to rewrite it.

In [21]:
def can_drive(age):
    if age > 16:
        return True
    else:
        return False

In [22]:
can_drive(17)

True

In [23]:
def can_drive(age):
    return age > 16

In [24]:
can_drive(15)

False

Do you see why this works?

```python
def can_drive(age):
    if age > 16:
        return True
    else:
        return False
```

In our first version of our function, we were essentially saying, if `age > 16` evaluates to True return True, and if it evaluates to `False` return `False`.  In the second version we say, just return the value that our statement evaluates.

In [25]:
def can_drive(age):
    return age > 16

> Your turn.

If you can shorten the `same_name_case_insensitive` function above, give it a shot below.

In [26]:
def same_name_case_insensitive(name_one, name_two):
    return name_one.capitalize() == name_two.capitalize()

In [ ]:
same_name_case_insensitive('Sally', 'sally')
# True

In [28]:
same_name_case_insensitive('Sally', 'fred')
# False

False

### Multibranch if else

In [29]:
def discount(airline_miles):
    if airline_miles > 20000:
        return .2
    elif airline_miles > 10000:
        return .1
    else:
        return 0